version: "3.7"
services:
  web-server:
    image: mhnk2002/crudback
    restart: always
    ports:
      - "8080:80"
    networks:
      - app-network

  db:
    image: mhnk2002/mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 'nesecret'
      MYSQL_DATABASE: 'dbook'
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.0.1
    restart: always
    environment:
      PMA_HOST: 'db'
      PMA_USER: 'root'
      PMA_PASSWORD: 'secret'
    ports:
      - "5000:80"
    networks:
      - app-network

volumes:
  mysql-data:

networks:
  app-network:
